{% extends 'base.html' %}
{% url 'student-register:detail' as student_url %}
{% block content %}
<div class="row">
    <div class="col"><h1>BILL</h1><hr/><br/></div>
</div>
<div class="row"><div class="col-5 ">{{ object_list.name }}
</div></div>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">Item</th>
{#      <th scope="col">Order No.</th>#}
      <th scope="col">Price</th>
{#      <th scope="col">Year</th>#}
{#      <th scope="col">Books issued</th>#}
{#      <th scope="col">Total Books Issued</th>#}
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>{% endblock %}


