{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Base template</title>
    {% include 'base/css.html' %}
    {% block base_head %} {% endblock %}
    <style>
      body {
      //background-image: url("{% static 'img/homewall.jpg' %}");
      //background-color: ;
      }

    </style>
  </head>
    <body>
    {% include 'base/navbar.html' with brand_name='eCommerce' %}
<div class="container">
  {% block content %}{% endblock %}

</div>


{% include 'base/js.html' %}
     </body>
</html>